.contanier {
    background: #fff;
    border-radius: 4px;
}
.head {
    display: flex;
    align-items: center;
    height: 48px;
    padding-left: 20px;
    border-bottom: 1px solid #eee;
}

.left {
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    min-height: 400px;
    word-break: break-all;
}
